@import '../node_modules/flatpickr/dist/flatpickr.min.css';


                                /* General UI */
.interface {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    position: relative;
    top: 60px;
    height: 100vh;
}

                                /* Navigator */
.navigator {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 10px;
}

#project-nav-container {

}

#nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#project-nav-list {
    display: flex;
    flex-direction: column;
}

#add-project-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(1,84,134,255);
    height: 30px;
    max-width: 770px;
    margin-top: 3px;
    color: white;
}

#add-project-button:hover {
    background-color: rgba(40,116,174,255);
}


                                /* Item */
.item {
    display: block;
    max-width: 770px;
    height: 40px;
    font-size: 0;
    box-sizing: border-box;
    border-top-style: solid;
    border-color: rgba(254,184,28,255);
    margin-top: 10px;
    opacity: 1;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;  
    -o-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

.header-container {
    display: block;
    width: 100%;
    height: 40px;
    color: white;
    box-sizing: border-box;
}

.item-header {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.item-header-subitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.item-expanded {
    height: 200px;
}


/* Item Title */
.input-title-id {
    width: 100%;
    height: 75%;
}

.title-id {
    align-self: flex-start;

}
/* 
.item-title>span {
    align-self: flex-start;
} */

.item-title {
    flex-grow: 2;
    color: rgba(254,184,28,255);
    margin-left: 10px;
}


/* Item Due Date */
.item-due-date {
    margin: auto 15px auto 15px;
    flex-grow: 1;
    color: rgba(254,184,28,255);
}


/* Item Body */
.item-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 160px;
    color: white;
    font-size: 16px;
    background-color: rgba(1,84,134,255);
}

.item-body>p {
    margin-left: 15px;
    width: 100%;
    height: 100%;
}

.item-body>textarea {
    align-self: center;
    font-size: 16px;
}


                                    /* Icons */
.expand-body-icon {
    max-width: 42px;
    flex-grow: 0.25;
    color: rgba(254,184,28,255);
}

.completed-icon-container {
    max-width: 40px;
    max-height: 40px;
    flex-grow: 0.25;
    color: rgba(254,184,28,255);
}

.completed-icon-onclick {
    opacity: 0.5;
}


                                    /* Item List */
.item-list {
    border-style: solid;
    height: 100%;
    padding: 0px 10px 10px 10px;
    color: rgba(254,184,28,255);
}

#add-item-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(254,184,28,255);
    height: 30px;
    max-width: 770px;
    margin-top: 3px;
    color: white;
}

#add-item-button:hover {
    background-color: rgba(255,209,1,255);
}


/* Misc */
a {
    margin: 10px 20px 0px 20px;
    font-size: 25px;
}

.current-project {
    background-color: darkgrey;
}

header {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0,59,91,255);
}

input[type='text'] {
    font-size: 18px;
}

.off {
    display: none !important;
}

textarea {
    resize: none;
}
